html {
	background: whitesmoke;
}
body {
        //font-family: Gess;

        
        
    }
    
    @font-face {
        font-family: Gess;
        src: url('/fonts/gess.otf');
        
    }


 .auth-btn {
 	color: #007f80;
 }

.courses-list-section {
	background: lightgreen;
}

.check-list {
	color: #00d1b2;
	font-size: 16px;
}

footer {

    margin-top: 20px;
}





